<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="orderForm" (ngSubmit)="onPostOrderSubmit()">
      <nb-card>
        <nb-card-header>
          สั่งตัด
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-lg-6">
              <label>โปรดระบุข้อมูลลูกค้า</label>
              <div class="full-name-inputs">
                <input type="text" nbInput fieldSize="medium" formControlName="firstNameCtrl" placeholder="ระบุชื่อ">
                <input type="text" nbInput fieldSize="medium" formControlName="lastNameCtrl" placeholder="ระบุนามสกุล">
              </div>

              <textarea rows="5" nbInput fullWidth shape="round" formControlName="addressCtrl"
                placeholder="ที่อยู่"></textarea>

              <div class="full-name-inputs">
                <input type="text" nbInput fieldSize="medium" formControlName="subDistrictCtrl" placeholder="แขวง/ตำบล">
                <input type="text" nbInput fieldSize="medium" formControlName="districtCtrl" placeholder="เขต/อำเภอ">
              </div>

              <div class="full-name-inputs">
                <input type="text" nbInput fieldSize="medium" formControlName="provinceCtrl" placeholder="จังหวัด">
                <input type="text" nbInput fieldSize="medium" formControlName="postCtrl" placeholder="รหัสไปรษณี">
              </div>

              <input type="tel" nbInput fieldSize="medium" formControlName="telCtrl" placeholder="เบอร์โทรศัพท์ติดต่อ">
            </div>
            <div class="col-lg-6">
              <div class="pull-right">
                <div>LOGO</div>
                <div>ชื่อบริษัท</div>
                <div>ที่อยู่บริษัท</div>
                <div>เบอร์โทรบริษัท</div>
              </div>
            </div>
          </div>

            <nb-card-header>
              <div class="row">
                <div class="col-md-3">
                  รอบคอ {{ bodyObj['circumference-neck'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  รอบอก {{ bodyObj.chest }} นิ้ว
                </div>
                <div class="col-md-3">
                  ไหล่ซ้าย {{ bodyObj['shoulder-left'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  ไหล่ขวา {{ bodyObj['shoulder-right'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  หน้าอกส่วนหน้า {{ bodyObj['chest-front'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  หน้าอกส่วนหลัง {{ bodyObj['chest-back'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  ความยาวแขน(ขวา) {{ bodyObj['arm-lenght-right'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  ความยาวแขน(ซ้าย) {{ bodyObj['arm-length-left'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  รอบกล้ามแขน {{ bodyObj['arm-muscles'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  เอวเสื้อ {{ bodyObj['waist-shirt'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  เอวกางเกง {{ bodyObj['waist-pant'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  ข้อมือ {{ bodyObj.wrist }} นิ้ว
                </div>
                <div class="col-md-3">
                  เป้า {{ bodyObj.crotch }} นิ้ว
                </div>
                <div class="col-md-3">
                  รอบพุง {{ bodyObj['belly-round'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  สะโพก {{ bodyObj.hip }} นิ้ว
                </div>
                <div class="col-md-3">
                  สะโพกเสื้อ {{ bodyObj['hip-shirt'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  ความยาวเชิ้ต {{ bodyObj['length-shirt'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  ความยาวสูท {{ bodyObj['length-suit'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  รอบน่อง {{ bodyObj['circumference-calf'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  รอบปลายขา {{ bodyObj['circumference-legs'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  รอบต้นขา {{ bodyObj['circumference-thigh'] }} นิ้ว
                </div>
                <div class="col-md-3">
                  ความยาวกางเกง {{ bodyObj['length-pant'] }} นิ้ว
                </div>
                
              </div>
            </nb-card-header>

          <div class="row">
            <div class="col-md-6" *ngFor="let src of sourceList; let index=index">
              <div>รายละเอียดสูทตัวที่ {{ index + 1 }}</div>
              <div>
                <ng2-smart-table [settings]="settings" [source]="src.source">
                </ng2-smart-table>
              </div>
            </div>
          </div>

          <input type="number" nbInput fieldSize="large" formControlName="methodCtrl" placeholder="ช่องทางการชำระเงิน">
          <input type="number" nbInput fieldSize="large" formControlName="priceCtrl" placeholder="ราคา">

        </nb-card-body>

        <nb-card-footer>
          <button nbButton (click)="onBackPressed()">prev</button>
          <button nbButton type="submit">สั่งซื้อ</button>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>