<nb-card>
  <nb-card-header>
    Step 2
  </nb-card-header>

  <nb-card-body>
    <form [formGroup]="secondForm" (ngSumbit)="onSecondSubmit()">
      <div class="row">
        <div class="col-md-6" formArrayName="suitTypes" *ngFor="let suitType of suitTypeList; let i=index">
          <nb-card size="medium">
            <div class="picture"> </div>
            <div class="details">
              <div class="h4">{{ suitType.title }}</div>
              <div class="description">
                คำอธิบาย {{ suitType.title }}
              </div>
            </div>
            <nb-card-footer>
              <nb-checkbox [formControlName]="i">เลือก</nb-checkbox>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>
      <button nbButton>next</button>
    </form>
  </nb-card-body>
</nb-card>