<nb-card>
  <nb-card-header>
    แสดงผลการแนะนำ
  </nb-card-header>
  <nb-card-body>
    <form>
      <div class="row">
        <div class="col-md-6">
          <nb-card size="ิlarge">
            <nb-card-header>
              <div>
                  <img class="picture" src="assets/images/kitten-corporate.png">
              </div>
            </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="label col-sm-6 col-form-label">
                  <label>ปก</label>
                  <label>...</label>
                </div>
                <div class="label col-sm-6 col-form-label">
                  <label>ปลายทรงไหล่</label>
                  <label>...</label>
                </div>
                <div class="label col-sm-6 col-form-label">
                  <label>ทรงไหล่</label>
                  <label>...</label>
                </div>
                <div class="label col-sm-6 col-form-label">
                  <label>ซับใน</label>
                  <label>...</label>
                </div>
                <div class="label col-sm-6 col-form-label">
                  <label>ผ่าหลัง</label>
                  <label>...</label>
                </div>
                <div class="label col-sm-6 col-form-label">
                  <label>กระเป๋าสูท</label>
                  <label>...</label>
                </div>
                <div class="label col-sm-6 col-form-label">
                  <label>กระดุม</label>
                  <label>...</label>
                </div>
                <div class="label col-sm-6 col-form-label">
                  <label>โครงสร้าง</label>
                  <label>...</label>
                </div>
                <div class="label col-sm-3 col-form-label">
                  <label>ลายผ้า</label>
                  <label>...</label>
                </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <nb-checkbox>เลือก</nb-checkbox>
            </nb-card-footer>
          </nb-card>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>