<nb-card>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="เลือกประเภทงาน">
        <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
          <div class="row">
            <div class="col-md-6" *ngFor="let event of eventList; let index=index">
              <nb-card size="medium">
                <div class="picture" style.background-image="url('assets/images/kitten-corporate.png')"></div>
                <div class="details">
                  <div class="h4">{{ event.title }}</div>
                  <div class="description">
                    คำอธิบาย {{ event.title }}
                  </div>
                </div>
                <nb-card-footer>
                  <div class="form-group">
                    <nb-checkbox>เลือก</nb-checkbox>
                  </div>
                </nb-card-footer>
              </nb-card>
            </div>
          </div>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="เลือกประเภทสูท">
        <form [formGroup]="secondForm" (ngSumbit)="onSecondSubmit()" class="step-container">
          <div class="row">
            <div class="col-md-6" *ngFor="let suitType of suitTypeList; let index=index">
              <nb-card size="medium">
                <div class="picture"> </div>
                <div class="details">
                  <div class="h4">{{ suitType.title }}</div>
                  <div class="description">
                    คำอธิบาย {{ suitType.title }}
                  </div>
                </div>
                <nb-card-footer>
                  <div class="form-group">
                    <nb-checkbox>เลือก</nb-checkbox>
                  </div>
                </nb-card-footer>
              </nb-card>
            </div>
          </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="เลือกสี">
        <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
          <div class="row">
            <div class="col-md-3" *ngFor="let color of suitColorList; let index=index">
              <nb-card size="small">
                <div class="picture"></div>

                <div class="details">
                  <div class="h4">{{ color.title }}</div>                 
                </div>
                <nb-card-footer>
                  <div class="form-group">
                    <nb-checkbox>เลือก</nb-checkbox>
                  </div>
                </nb-card-footer>
              </nb-card>
            </div>
          </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>next</button>
        </form>
      </nb-step>
      <nb-step [stepControl]="forthForm" label="วัดตัว">
        <form [formGroup]="forthForm" (ngSubmit)="onForthSubmit()" class="step-container">
          <div class="row">
            <div class="col-md-6">
              <nb-card>
                <nb-card-header>สัดส่วนท่อนบน</nb-card-header>
                <div class="form-group row">
                  <label for="input-circumference-neck" class="label col-sm-3 col-form-label">รอบคอ</label>
                  <input type="number" nbInput fullWidth fieldSize="large" id="input-circumference-neck"
                    placeholder="รอบคอ">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-chest" class="label col-sm-3 col-form-label">รอบอก</label>
                  <input type="number" nbInput fullWidth fieldSize="large" id="input-chest" placeholder="รอบอก">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">หน้าอกส่วนหน้า</label>

                  <input type="number" nbInput fullWidth fieldSize="large" id="input-chest-front"
                    placeholder="หน้าอกส่วนหน้า">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-chest-back" class="label col-sm-3 col-form-label">หน้าอกส่วนหลัง</label>

                  <input type="number" nbInput fullWidth fieldSize="large" id="input-chest-back"
                    placeholder="หน้าอกส่วนหลัง">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-arm-lenght-right" class="label col-sm-3 col-form-label">ความยาวแขน(ขวา)</label>

                  <input type="number" nbInput fullWidth fieldSize="large" id="input-arm-lenght-right"
                    placeholder="ความยาวแขน(ขวา)">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-arm-lenght-left" class="label col-sm-3 col-form-label">ความยาวแขน(ซ้าย)</label>

                  <input type="number" nbInput fullWidth fieldSize="large" id="input-arm-lenght-left"
                    placeholder="ความยาวแขน(ซ้าย)">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-arm-muscles" class="label col-sm-3 col-form-label">รอบกล้ามแขน</label>

                  <input type="number" nbInput fullWidth fieldSize="large" id="input-arm-muscles"
                    placeholder="รอบกล้ามแขน">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
              </nb-card>

            </div>
            <div class="col-md-6">
              <nb-card>
                <nb-card-header>สัดส่วนท่อนล่าง</nb-card-header>
                <div class="form-group row">
                  <label for="input-circumference-calf" class="label col-sm-3 col-form-label">รอบน่อง</label>

                  <input type="number" nbInput fullWidth id="input-circumference-calf" placeholder="รอบน่อง">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-circumference-legs" class="label col-sm-3 col-form-label">รอบปลายขา</label>

                  <input type="number" nbInput fullWidth id="input-circumference-legs" placeholder="รอบปลายขา">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-circumference-thigh" class="label col-sm-3 col-form-label">รอบต้นขา</label>

                  <input type="number" nbInput fullWidth id="input-circumference-thigh" placeholder="รอบต้นขา">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-length-pant" class="label col-sm-3 col-form-label">ความยาวกางเกง</label>

                  <input type="number" nbInput fullWidth id="input-length-pant" placeholder="ความยาวกางเกง">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
              </nb-card>
            </div>
            <div class="col-md-6">
              <nb-card>
                <nb-card-header>สัดส่วนท่อนกลาง</nb-card-header>
                <div class="form-group row">
                  <label for="input-waist-shirt" class="label col-sm-3 col-form-label">เอวเสื้อ</label>

                  <input type="number" nbInput fullWidth id="input-waist-shirt" placeholder="เอวเสื้อ (เหนือสะดือ)">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-waist-pant" class="label col-sm-3 col-form-label">เอวกางเกง</label>

                  <input type="number" nbInput fullWidth id="input-waist-pant"
                    placeholder="เอวกางเกง (เอวที่ใส่กางเกงปกติ)">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-wrist" class="label col-sm-3 col-form-label">ข้อมือ</label>

                  <input type="number" nbInput fullWidth id="input-wrist" placeholder="ข้อมือ">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-waist-pant" class="label col-sm-3 col-form-label">เอวกางเกง</label>

                  <input type="number" nbInput fullWidth id="input-waist-pant"
                    placeholder="เอวกางเกง (เอวที่ใส่กางเกงปกติ)">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-crotch" class="label col-sm-3 col-form-label">เป้า</label>

                  <input type="number" nbInput fullWidth id="input-crotch"
                    placeholder="เป้า (จากขอบกางเกงด้านหน้า อ้อมไปถึงด้านหลัง)">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-belly-round" class="label col-sm-3 col-form-label">รอบพุง</label>

                  <input type="number" nbInput fullWidth id="input-belly-round" placeholder="รอบพุง">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-hip" class="label col-sm-3 col-form-label">สะโพก</label>

                  <input type="number" nbInput fullWidth id="input-hip" placeholder="สะโพก (ตรงช่วงก้นที่นูนที่สุด)">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-hip-shirt" class="label col-sm-3 col-form-label">สะโพกเสื้อ</label>

                  <input type="number" nbInput fullWidth id="input-hip-shirt"
                    placeholder="สะโพกเสื้อ (บริเวณรอบสะโพกที่กว้างที่สุด)">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-length-shirt" class="label col-sm-3 col-form-label">ความยาวเชิ้ต</label>

                  <input type="number" nbInput fullWidth id="input-length-shirt" placeholder="ความยาวเชิ้ต">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
                <div class="form-group row">
                  <label for="input-length-suit" class="label col-sm-3 col-form-label">ความยาวสูท</label>

                  <input type="number" nbInput fullWidth id="input-length-suit" placeholder="ความยาวสูท">
                  <label for="input-chest-front" class="label col-sm-3 col-form-label">นิ้ว</label>
                </div>
              </nb-card>
            </div>
          </div>
          <button nbButton nbStepperPrevious>prev</button>
          <button nbButton nbStepperNext>Confirm</button>
        </form>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>