<nb-card>
  <nb-card-header>
    Step 1
  </nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="เลือกประเภทงาน">
        <ngx-stepone></ngx-stepone>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="เลือกประเภทสูท">
        <ngx-steptwo></ngx-steptwo>
      </nb-step>
      <nb-step [stepControl]="thirdForm" label="เลือกสี">
        <ngx-stepthree></ngx-stepthree>
      </nb-step>
      <nb-step [stepControl]="forthForm" label="วัดตัว">
        <ngx-stepfour></ngx-stepfour>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>